@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  font-family: "Lato", sans-serif;
  max-width: 1900px;
}
* {
  margin: 0;
  padding: 0;
}
.btn {
  position: static;
  width: 150px;
  height: 50px;
  padding: 15px 30px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  background: rgb(229, 84, 115);
  cursor: pointer;
}

/* header section start */

.header-section {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1600px;
  height: 650px;
  padding: 0 150px;
  background-color: rgba(229, 84, 115, 0.1);
}
.header-title {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 50px;
  font-weight: 800;
  text-align: left;
  margin-bottom: 30px;
}
.header-subtitle {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

.header-section img {
  width: 400px;
  height: 500px;
}

/* feature section start */
.feature-section {
  max-width: 1300px;
  margin: 150px auto;
}

.feature-text {
  text-align: center;
}
.feature-title {
  color: rgb(39, 39, 39);

  font-size: 30px;
  font-weight: 800;
  line-height: 48px;
}
.feature-subtitle {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 40px;
}

.feature-img {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  max-height: 600px;
}
.feature-img img {
  width: 230px;
  height: 350px;
  padding-top: 50px;
}
.picture-1 {
  width: 400px;
  height: 400px;
  padding-top: 10px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.picture-2 {
  width: 400px;
  height: 400px;
  padding-top: 10px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.picture-3 {
  width: 400px;
  height: 400px;
  padding-top: 10px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}

.feature-img-title {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
.feature-img-title p {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 24px;
  font-weight: 800;
  line-height: 35px;
  text-decoration-line: underline;
}

/* System support section start */
.system-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  max-width: 1300px;
  height: 250px;
  margin: 0 auto;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}
.system-container p {
  color: rgba(39, 39, 39, 0.8);
  font-family: Lato;
  font-size: 15px;
  font-weight: 600;
  line-height: 35px;
}

/* Hot Deal section start */

.hot-deal {
  max-width: 1600px;
  background-color: rgba(229, 84, 115, 0.05);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  margin: 100px auto;
  padding: 0 150px;
}
.hot-deal-title {
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  margin-bottom: 20px;
}
.hot-deal-subtitle {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}
.hot-deal-img {
  padding: 100px 0;
}
/* Instagram section start */

.instagram-section-title {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: center;
  margin-bottom: 20px;
}
.instagram-section-subtitle {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-bottom: 40px;
}
.instagram-section-img {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
  max-width: 1300px;
  margin: 100px 240px;
}

.instagram-section-img img {
  border-radius: 10px;
  width: 350px;
  height: 340px;
}

/* Deals section start */

.deal-section {
  max-width: 1400px;
  height: 440px;
  margin: 0 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-image: url("../Images/Rectangle 9.png");
  margin-bottom: 100px;
}
.deal-section-title {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  margin-bottom: 15px;
}
.deal-section-subtitle {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 40px;
}
#email-input {
  width: 500px;
  height: 50px;
  border: none;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  margin: 0 15px 0 0;
  padding: 0 0 0 15px;
}

/* Footer section start */
.footer-section {
  background: rgb(17, 16, 16);
  max-width: 1600px;
  height: 450px;
  margin: 0 auto;
  padding: 0 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}
.footer-title {
  font-family: Lato;
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  margin-bottom: 20px;
}
.footer-subtitle {
  color: rgba(255, 255, 255, 0.9);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-bottom: 30px;
}
.footer-copyright {
  color: rgba(255, 255, 255, 0.4);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}
